@using SixLabors.ImageSharp
@{

    ViewData["Title"] = "Home Page";

}

<section class="main_page_screen">
    <h1 class="main_text"><b>IMAGIO</b> - Сервис для<br> редактирования<br> ваших изображений.</h1>
    <img src="~/img/first_bg.jpg" />
    <img src="~/img/second_bg.jpg" />
    <img src="~/img/third_bg.jpg" />
    <h1 class="first_text">УДОБНЫЙ ИНТЕРФЕЙС</h1>
    <h1 class="second_text">БЫСТРАЯ РАБОТА</h1>
    <h1 class="third_text">АБСОЛЮТНО БЕСПЛАТНО</h1>
</section>
